@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Estilos para tarjetas que usan Bootstrap
.card {
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $color-fondo-oscuro !important;
  color: $color-texto-inverso;

  img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  .card-title {
    font-size: 1rem;
    font-weight: 600;
    color: $color-acento;
    margin-bottom: 0.4rem;
  }

  .card-text {
    font-size: 0.9rem;
    line-height: 1.4;
    color: lighten($color-texto-inverso, 20%);
  }
}
