@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.tarjetas--instalaciones {
  .card {
    background-color: $color-fondo-oscuro;
    color: $color-texto-inverso;
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);

    img {
      height: 220px;
      object-fit: cover;
      width: 100%;
    }

    .card-body {
      padding: 1rem;
      text-align: center;
    }

    .card-title {
      font-size: 1rem;
      font-weight: 600;
      color: $color-acento;
      margin-bottom: 0.5rem;
    }

    .card-text {
      font-size: 0.9rem;
      line-height: 1.5;
      color: lighten($color-texto-inverso, 15%);
    }
  }
}

main {
  padding-top: 180px; // ajusta según el alto visual de tu header
}
