@use '../abstracts/variables' as v;

main {
  padding-top: 14rem;

  @media (max-width: v.$breakpoint-lg) {
    padding-top: 13rem;
  }

  @media (max-width: v.$breakpoint-md) {
    padding-top: 17rem; // aumentamos aquí
  }

  @media (max-width: v.$breakpoint-sm) {
    padding-top: 17rem; // también aquí
  }
}

html {
  scroll-padding-top: 14rem;

  @media (max-width: v.$breakpoint-lg) {
    scroll-padding-top: 13rem;
  }

  @media (max-width: v.$breakpoint-md) {
    scroll-padding-top: 16rem;
  }

  @media (max-width: v.$breakpoint-sm) {
    scroll-padding-top: 15rem;
  }
}

