body.home {
    main {
      padding: 2rem;
      background-color: $color-fondo;
    }
  
    h1 {
      color: $color-principal;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1rem;
      color: $color-texto;
    }
  }
  
  